body {
    background-color: rgb(124, 217, 134)
}

  h1 {
    color: rgba(5, 83, 10, 0.461);
  }

  h2 {
    color: rgb(9, 102, 111); font-style: italic;
  }

  h3 {
    color: rgb(3, 69, 69); font-style: italic;
  }

  li {
    color:rgb(255, 255, 255)
  }

#header1 {
    color: brown;
}
